<div class="bg-white m-10">
    <div class="m-4 p-2 bg-blue-200">
        I'm m-4
    </div>
    <div class="m-8 p-2 bg-blue-200">
        I'm m-8
    </div>
    <div class="m-12 p-2 bg-blue-200">
        I'm m-12
    </div>
    <div class="mr-4 p-2 bg-blue-200">
        I'm mr-4 - only margin right
    </div>
    <div class="md:m-6 p-2 bg-blue-200">
        I'm md:m-6 - only margins on md breakpoint and above
    </div>
</div>