---
import clsx from 'clsx';

export interface Props {
    state: 'experimental' | 'review' | 'wip' | 'ready' | 'deprecated';
};
const { state } = Astro.props as Props;

const stateClasses = clsx(
    'inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium capitalize',
    {
        'bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 text-white': state === 'experimental',
        'bg-gray-100 text-gray-700': state === 'review',
        'bg-yellow-100 text-yellow-800': state === 'wip',
        'bg-green-100 text-green-800': state === 'ready',
        'bg-red-100 text-red-800': state === 'deprecated',
    },
);

---

<span class="flex space-x-1">
    <span class={ stateClasses }>
        { state }
    </span>
</span>