<div class="flex flex-col gap-8">
    <div>
        <span class="font-medium text-xs text-slate-500 font-mono mb-3 dark:text-slate-400">
            <span class="font-semibold">text-xs /</span>
            <span>font-size: 0.75rem (12px) / </span>
            <span>line-height: 1rem (16px)</span>
        </span>
        <p class="text-xs font-medium text-slate-900 dark:text-slate-200">
            The quick brown fox jumps over the lazy dog.
        </p>
    </div>

    <div>
        <span class="font-medium text-xs text-slate-500 font-mono mb-3 dark:text-slate-400">
            <span class="font-semibold">text-sm /</span>
            <span>font-size: 0.875rem (14px) / </span>
            <span>line-height: 1.25rem (20px)</span>
        </span>
        <p class="text-sm font-medium text-slate-900 dark:text-slate-200">
            The quick brown fox jumps over the lazy dog.
        </p>
    </div>

    <div>
        <span class="font-medium text-xs text-slate-500 font-mono mb-3 dark:text-slate-400">
            <span class="font-semibold">text-base /</span>
            <span>font-size: 1rem (16px) / </span>
            <span>line-height: 1.5rem (24px)</span>
        </span>
        <p class="text-base font-medium text-slate-900 dark:text-slate-200">
            The quick brown fox jumps over the lazy dog.
        </p>
    </div>

    <div>
        <span class="font-medium text-xs text-slate-500 font-mono mb-3 dark:text-slate-400">
            <span class="font-semibold">text-lg /</span>
            <span>font-size: 1.125rem (18px) / </span>
            <span>line-height: 1.75rem (28px)</span>
        </span>
        <p class="text-lg font-medium text-slate-900 dark:text-slate-200">
            The quick brown fox jumps over the lazy dog.
        </p>
    </div>

    <div>
        <span class="font-medium text-xs text-slate-500 font-mono mb-3 dark:text-slate-400">
            <span class="font-semibold">text-xl /</span>
            <span>font-size: 1.25rem (20px) / </span>
            <span>line-height: 1.75rem (28px)</span>
        </span>
        <p class="text-xl font-medium text-slate-900 dark:text-slate-200">
            The quick brown fox jumps over the lazy dog.
        </p>
    </div>

    <div>
        <span class="font-medium text-xs text-slate-500 font-mono mb-3 dark:text-slate-400">
            <span class="font-semibold">text-2xl /</span>
            <span>font-size: 1.5rem (24px) / </span>
            <span>line-height: 2rem (32px)</span>
        </span>
        <p class="text-2xl font-medium text-slate-900 dark:text-slate-200">
            The quick brown fox jumps over the lazy dog.
        </p>
    </div>
</div>