<div>
    <h3 class="font-semibold text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl text-slate-900 dark:text-slate-200">
        Almost before we knew it, we had left the ground.
    </h3>
</div>